.indexStart{
    position: relative;
    
    .startButton {
        padding: 8px 18px;  
        font-size: 14px;
        margin: 5px;
        background: #686ce6;
        
        a {
            text-decoration: none;
            border: 0;
            color: white;
        }
    }
    .indexStartIcon {
        width: 65px;
        height: 60px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .indexStartIconOne {
        background-image: url(./../../img/start/icon-sponsor.png);
    }
    .indexStartOverWrapper{
        text-align: left;
        position: relative;
        margin-right: -54px;
        width: 332px;
        display: inline-block;
    }
    .indexStartIconTwo {
        background-image: url(./../../img/start/icon-community.png);
    }
    .indexStartIconThree {
        background-image: url(./../../img/start/icon-developer.png);
    }
    .indexStartOne{
        position: relative;
        width: 100%;
        height: 522px;
        // background-color: #1465e3;
        background-image: url(./../../img/start/start-banner.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .indexStartSecond{
        position: relative;
        width: 100%;
        height: 526px;
        background-color: #f5f5f5;
        .indexStartOneTextConsChi{
            color:#1b1a2a
        }
    }

    .indexStartOneWrapper{
        display: flex;
        // padding-top: 110px;
        box-sizing: border-box;
        justify-content: space-between;
        padding-top: 10vh;
        // align-items: center;
    }

    .indexStartQuote {
        font-size: 10px;
    }
    .indexStartOneTextCons{
        position: relative;
        color: #fff;
        text-align: center;
        font-size: 20px;
        // text-indent: 2em;
        width: 55%;
        // margin-top: -118px;
        
    }

    .indexStartTwoImage{
        position: relative;
        background-image: url(./../../img/banner1.png);
        background-size: contain;
        width: 500px;
        height: 350px;
        background-repeat: no-repeat;
    }
    .indexStartOneTextConsChi {
        letter-spacing: 1px;
        // text-indent: 2em;
        margin-top: 15px;
        display: inline-block;
        
    }
    .indexStartContent {
        a {
            color: blue;
        }
        padding: 10px 10px;
        text-align: left;
    }
}