.indexStart{
    position: relative;
    .indexStartOne{
        position: relative;
        width: 100%;
        height: 522px;
        // background-color: #1465e3;
        background-image: url(./../../img/start/start-banner.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .indexStartSecond{
        position: relative;
        width: 100%;
        height: 526px;
        background-color: #f5f5f5;
        .indexStartOneTextConsChi{
            color:#1b1a2a
        }
    }

    .indexStartOneWrapper{
        display: flex;
        // padding-top: 110px;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
    }


    .indexStartOneTextCons{
        position: relative;
        color: #fff;
        font-size: 20px;
        // text-indent: 2em;
        width: 45%;
        margin-top: -118px;
        
    }

    .indexStartTwoImage{
        position: relative;
        background-image: url(./../../img/banner1.png);
        background-size: contain;
        width: 500px;
        height: 350px;
        background-repeat: no-repeat;
    }
    .indexStartOneTextConsChi{
        letter-spacing: 1px;
        text-indent: 2em;
        margin-top: 15px;
        display: inline-block;
        
    }
    .indexStartOneTextConsChi.two{
        margin-bottom: 30px;
    }
}