.indexStart{
    position: relative;
    .startQAButton {
        color: white;
        width: 320px;
        height: 60px;
 
        font-size: 28px;
       
        margin: 5px auto;
        background: rgba(255, 255, 255, 0.05);
        // border-style: solid;
        // border-width: 0.1px;
        // border-radius: 0.1em;
        text-decoration: none;
        border-radius: 4px;
        border: solid 1px #ffffff;
        line-height: 60px;
        box-sizing: border-box;
    }
    .startListButton {
        color: white;
        line-height: 30px;
        width: 80px;
        padding: 8px 18px;  
        font-size: 18px;
        margin: 5px auto;
        background: rgba(104, 108, 230, 0.479);
        border-style: solid;
        border-width: 0.1px;
        border-radius: 0.1em;
        // box-shadow: inset 0 0.5px 0 #fff6ce, inset 0 -1px 0 #918ff5, inset 0 0 0 1px #a58dfc, 0 1px 2px rgba(0, 0, 0, 0.2);
        a {
            text-decoration: none;
            border: 0;
            color: white;
        }
    }
    .startListButton:hover {
        background-color: #9086ec;
        cursor: pointer;
        box-shadow: none;
    }
    .startBannerEnd {
        position: relative;
        width: 100%;
        height: 280px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: url(./../../img/start/qa-banner.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .startBanner{
        position: relative;
        width: 100%;
        height: 522px;
        // background-color: #1465e3;
        background-image: url(./../../img/start/start-banner.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .startList{
            position: relative;
            display: flex;
            justify-content: space-evenly;
            padding-top: 150px;
            .startListItem{
                position: relative;
                text-align: center;
                width: 330px;
                color:#fff
            }
            .startListItemImage{
                background-size: contain;
                width: 80px;
                height: 70px;
                background-position: center;
                margin: 0 auto;
                background-repeat: no-repeat;
            }
            .startListItemImage.sponsor{
                background-image: url(./../../img/start/icon-sponsor.png);
            }
            .startListItemImage.community{
                background-image: url(./../../img/start/icon-community.png);
            }
            .startListItemImage.student{
                background-image: url(./../../img/start/icon-developer.png);
            }
    
            .startListItemTitle{
                font-size: 24px;
                font-weight: 500;
                letter-spacing: .005em;
                margin: 22px 0 10px;
            }
            .startListItemContent{
                
                font-weight: 400;
                letter-spacing: .010em;
                line-height: 50px;
                font-size: 18px;
                
            }
            .bold {
                font-weight: bold;
            }
    
        }
    }
    .indexStartSecond{
        position: relative;
        padding-top: 5%;
        width: 100%;
        height: 400px;
        // background-color: #f5f5f5;
        .indexStartOneTextConsChi{
            color:#1b1a2a
        }
    }
    .indexStartQuote {
        font-size: 10px;
    }
    .indexStartOneTextCons{
        position: relative;
        color: #fff;
        text-align: center;
        font-size: 20px;
        // text-indent: 2em;
        width: 55%;
        // margin-top: -118px;
        
    }

    .indexStartTwoImage{
        position: relative;
        background-image: url(./../../img/banner1.png);
        background-size: contain;
        width: 500px;
        height: 350px;
        background-repeat: no-repeat;
    }
    .indexStartOneTextConsChi {
        letter-spacing: 1px;
        // text-indent: 2em;
        margin-top: 20px;
        display: block;
        text-align: center;
        margin-block-start: 1.33em;
        margin-block-end: 1.33em;

        
    }
    .indexStartContent {
        a {
            color: blue;
        }
        padding: 10px 10px;
        text-align: left;
        li {
            line-height: 31px;
        }
    }
    .indexStartContact {
        padding-top: 50px;
        padding-left: 25px;
        text-align: left;

        li {
            font-size: 20px;
            list-style: square;
            text-align: left;
        }
    }
    .community-contact {
        margin-top: -65px;
    }
    #start-sponsor {
        margin-top: 55px;
    }
    .startLineThree{
        position: relative;
        display: flex;
        justify-content: space-between;
        .indexStartContact{
            width: 300px;
            margin-left: 42px;
        }
    }
    .startLineTwo{
        position: relative;
        display: flex;
        justify-content: space-between;
        .indexStartOneTextCons{
            width: 350px;
        }
    }
}
 
#sponsor {
    display: none;
}
#community {
    display: none;
}
.tn-box-color-1{
    background: #9044f3c0;
    width: 400px;
    position: relative;
    margin: 0 auto 20px auto;
    // padding: 25px 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 
        0 1px 1px rgba(0,0,0,0.1), 
        inset 0 1px 0 rgba(255,255,255,0.6);  
    // opacity: 0;
    cursor: default;
    display: none;
}