.indexHomeOneBannerFour{
    position: relative;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 4px;
    font-family: PingFang-SC-Bold;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-image: url(./../../img/index/bannerk.jpg);
    line-height: 24px;
    .SummitMeetTextOne{
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 36px;
        letter-spacing: 0px;
        color: #66ffff;
        margin:15px 0 30px;
    }
    .SummitMeetTextTwo{
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 20px;
        
        color: #fff;
        letter-spacing: 0;
        
        margin-bottom: 58px;
        .phoneshow{
            display: none;
        }
    }
    .indexHomeFourBannerLogo{
        position: relative;
        background-image: url(./../../img/stats/summitlogo.png);
        width: 358px;
        height: 24px;
        background-size: cover;
        background-repeat: no-repeat;
        margin:70px auto 15px;
    }
    .indexHomeFourBannerTitle{
        
        font-weight: normal;
        font-stretch: normal;
        line-height: 50px;
        letter-spacing: 1px;
        color: #fff;
        margin-bottom: 30px;
        padding-top: 95px;
        font-size: 50px;
        .One{
            font-weight: bold;
            display: inline-block;
            position: relative;
            padding-right: 20px;
            margin-right: 20px;
        }
        .Two{
            font-weight: lighter;
            position: relative;

        }
        .summitButtonOnline{
            position: absolute;
            right: -133px;
            top: 0;
            line-height: 14px;
            width: quto;
            height: auto;
            font-size: 14px;
            
        }
        .summitButtonText{
            position: relative;
            display: inline-block;
            color: #fff;
            font-size: 14px;
            padding: 7px 2px 7px 10px;
            line-height: 14px;
            z-index: 2;
        }
        .summitButtonBack{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #0086cb;
            transform: skew(-13deg);
            left: 0;
            top: 0;
            z-index: 1;
        }

        .One::after{
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            background-color: #fff;
            left: 100%;
            top: 3px;
        }
        
       
    }
    .indexHomeFourBannerCompany{
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #80b6ff;
        display: flex;
        width: 82%;
        margin: 0 auto;
       
        .indexHomeFourBannerCompanyItem{
            border-right:2px solid #80b6ff;
            padding:0 20px;
        }
        .indexHomeFourBannerCompanyItem:last-child{
            border:none;
        }
    }
    .indexHomeFourBannerMainTile{
        width: 100%;
        margin: 25px 0 18px;
        background-color: rgba(255 ,255 ,255 , 0.05);
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        color: #ffffff;
        padding:14px 0;
       
        text-align: center;
        letter-spacing: 2px;
    }

    .indexHomeFourLabels{
        position: relative;
        color: #66ffff;
        font-size: 18px;
        display: flex;
        justify-content: space-evenly;
        .indexHomeFourLabelItem{
            padding: 8px;
            position: relative;
        }
        .indexHomeFourLabelItem::before{
            position: absolute;
            width: 100%;
            content:"";
            height: 100%;
            background-color: rgba(128 ,255 ,255 , 0.4);
            transform: skew(-13deg);
            left: 0;
            top: 0;
        }
    }
    .indexHomeFourText4{
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 1px;
        color: #66ffff;
        position: relative;
        margin-top:18px;
        cursor: pointer;
    }
}

@media screen and (min-width: 700px)and (max-width: 1200px){
    .indexHomeOneBannerFour{
        .SummitMeetTextOne{
            font-size:16px
        }
        .SummitMeetTextTwo{
            margin-bottom: 25px;
        }
        .indexHomeFourBannerLogo{
            margin-top:5vw;
        }
        .indexHomeFourBannerTitle{
            font-size: 26px;
            line-height: 26px;
             margin-bottom: 15px;
             letter-spacing: 0;
           .summitButtonOnline{
            right: -99px;
            top: -10px;
               .summitButtonText{
                   font-size: 12px;
               }
           }
        }
        
        
        
        .indexHomeFourBannerMainTile{
            font-size: 20px;
            height: auto;
            margin: 4% 0;
            padding:2% 0;
        }
    }
    .Summitmeeting{
        .SummitMeetTwo{
            
            .SummitMeetTwoContent{
                width: 95vw !important;
               
                .SummitMeetTwoContentRight {
                    .SummitMeetTwoContentRightOne{
                        font-size: 30px!important;
                        margin-bottom: 18px !important;
                    }
                    .SummitMeetTwoContentRightTwo{
                        font-size: 17px !important
                    }
                  
    
                }
                
                .SummitMeetTwoContentMiddle{
                    font-size: 18px !important;
                }
                
            }
            
        }
        .SummitMeetThree{
            
            .SummitMeetThreeHeader{
                .SummitMeetThreeHeaderWrapper{
                    font-size: 16px  !important;
                    letter-spacing: 0 !important
                }
                .SummitTabHeaderItem{
                    margin-right: 14px !important;
                }
            }
            
            .SummitMeetThreeContent{
                width: 95vw !important;
               .SummitTeyao{
                   .SummitTeyaoContent{
                       .SummitTeyaoDesc{
                        font-size: 18px;
                       }
                       .SummitTeyaoName{
                           font-size: 18px;
                           width: 18%;
                       }
                   }

               }
                .HowitworksTimelineItemCons{
                    
                    .HowitworksTimelineItemLine{
                        .HowitworksTimelineItemLineTitle{
                            font-size: 30px;
                        }
                        .HowitworksTimelineItemLineTime{
                            font-size: 16px;
                            padding: 6px 20px;
                        }
                        .HowitworksTimelineItemLineSmall{
                            font-size: 20px;
                        }
                        .HowitworksTimelineItemLineTitleBig{
                            font-size: 26px;
                        }
                    }
                    .HowitworksTimelineItemSmall{
                        margin-top: 45px !important;
                        .HowitworksTimelineItemSmallItem{
                            margin-right: 30px;
                            .HowitworksTimelineItemSITitle{
                                font-size: 17px;
                                padding: 0 15px;
                            }
                            .HowitworksTimelineItemSITime{
                                padding: 5px 13px;
                                font-size: 13px;
                            }
                            .HowitworksTimelineItemSITitle::before{
                                width: 8px;
                                height: 8px;
                            }
                            .HowitworksTimelineItemSITitle::after{
                                left: -40px;
                                width: 30px;
                            }
                        }
                    }
                }
                
                

                .SummitMeetThreeContentTitle{
                    font-size: 32px !important;
                }
                
                .SummitMeetThreeTableContent{
                    .CardModal.show{
                        height: 340px;}
                    .SummitMeetThreeTableModal{
                        width: 99%;
                        
                        
                    }
                    .SummitMeetThreeTableContentTitle{
                        font-size: 18px!important;
                    }
                    .SummitMeetThreeTableItem{
                        width: 18vw!important;
                        // height: 18vw!important;
                        .SummitMeetThreeTableItemContent{
                           
                            
                            .SummitMeetThreeTableItemContenttitle{
                                font-size: 13px !important;
                                line-height: 16px !important;
                            }
    
                            .SummitMeetThreeTableItemContentcommunity,
                            .SummitMeetThreeTableItemContentName{
                                font-size: 14px !important;
                                line-height: 14px;
                                padding-top:8px !important;
                            }
                        }
                      
                    }
                }
            }
            
        }
      

        .SummitDownNumber{
            width: 110px;
            height: 32px;
            font-size: 15px;
            line-height: 30px;
        }
            .SummitDownButton,
            .SummitVideoButton,
            .SummitModalButtonPPT{
                width: 110px;
                 height: 32px;
                 font-size: 15px;
                 line-height: 30px;
                 padding-left: 13px;
            }
            .SummitDownButton::after,
            .SummitVideoButton::after,
            .SummitModalButtonPPT::after{
                width: 15px;
                height: 15px;
                top:6px;
            }

    }
    
    
    
}

@media screen and (min-width: 100px)and (max-width: 701px){
    .indexHomeOneBannerFour{
        .SummitMeetTextOne{
            font-size:12px;
            margin-bottom: 10px;
            line-height: 16px;
        }
        .indexHomeFourBannerLogo{
            margin-top:5vw;
        }
        .indexHomeFourBannerTitle{
            
            margin:40px 0 20px;
            line-height: 16px;
            padding-top: 10px;
            font-size: 16px;
            .One{
                padding-right: 10px;
                margin-right: 10px;
            }
            .One::after{
                top:1px;
            }
            .summitButtonOnline{
                right: 0;
                top: -26px;
                font-size: 12px;
            }
            .summitButtonText{
                font-size: 12px;
                width: 101px;
                height: 20px;
                line-height: 18px;
                padding: 0 0 0 8px;
            }
         
           
        }
        .indexHomeFourBannerCompany{
            flex-direction: column;
            font-size: 12px;
            width: 100%;
            .indexHomeFourBannerCompanyItem{
                border-right:none !important;
            }
            
        }
        .indexHomeFourBannerMainTile{
            font-size: 15px;
            height: auto;
            margin-bottom: 0;
            padding:1% 0;
        }
        .indexHomeFourLabels{
            font-size: 14px;
            flex-wrap: wrap;
            justify-content: center;
            margin:15px auto;
            .indexHomeFourLabelItem{
                padding: 0 7px;
                margin-bottom: 3px;
                margin-left: 4px;
            }
        }
        .SummitMeetTextTwo{
            margin-top:0;
            margin-bottom: 0;
            transform: scale(0.7);
            width: 127vw;
            transform-origin: 11%;
            .phonenone{
                display: none;
            }
            .phoneshow{
                display: inline;
            }
        }
       
    }

    .Summitmeeting{
        .SummitMeetThreeTableuTitle{
            flex-direction: column;
        }

        .SummitHeaderButton{
            margin-top: 5px;
        }
        .SummitPosition {
            .SummitPositionHeader{
                .SummitPositionHeaderText{
                    font-size: 20px;
                }
               
            }
            .SummitPositionWrapper{
                .SummitPositionItem{
                    .SummitPositionItemTitle{
                        font-size: 16px;
                    }
                    .SummitPositionItemDescItem{
                        font-size: 12px;
                        line-height: 16px;
                        margin-bottom: 15px;
                    }
                    .SummitPositionItemMap{
                        width: 100%;
                        height: 90vw;
                        margin:0 auto;
                    }
                }
                
            }
           
        }
        .SummitMeetTwo{
            height: auto !important;
            padding-top: 20px !important;
            .SummitPdf{
                display: flex;
                flex-direction: column;
                align-items: center;
                .SummitPdfDown{
                    margin-bottom: 10px;

                }


                .SummitPdfAD{
                    font-size: 16px;
                }
            }
            .SummitPngDown{
                position: relative;
                justify-content: center;
                
                .SummitPngDownload{
                    font-size: 13px !important;
                    margin-bottom: 0 !important;
                }
                #SummitPngIcon{
                    width: 15px;
                    height: 15px;
                    background-repeat: no-repeat;
                    margin-right: 3px;
                }
            }
            .SummitMeetTwoContent{
                width: 95vw !important;
                .SummitMeetTwoContentTop{
                    flex-direction: column;
                    height: 500px;
                    .SummitImage{
                        width: 58%;
                        height: 24%;
                        margin: 0 auto;
                        
                    }
                }
               
                .SummitMeetTwoContentRight {
                    width: 100% !important;
                    .SummitButtonZhibo{
                        .SummitButtonZhiboButton{
                            display: block;
                            width: 80vw;
                            margin: 30px auto 10px;
                        }

                    }
                   
                    .SummitTip{
                        display: block;
                        text-align: center;
                        font-size: 12px;
                        bottom: 6px;
                    }
                    .SummitMeetTwoContentRightOne{
                        font-size: 18px !important;
                        text-align: center;
                        margin-bottom: 10px !important;
                    }
                   
                    .SummitMeetTwoContentRightTwo{
                        font-size: 14px !important;
                        text-align: center;
                    }
    
                }
                
                .SummitMeetTwoContentMiddle{
                    font-size: 14px !important;
                }
                
            }
            
        }
        .SummitThreeTimeCon{
            flex-direction: column;
            margin-bottom: 30px;
            align-items: initial;
            padding-left: 20px;
            .summitSplit{
                display: none;
            }
        }
        .SummitMeetThree{
            .SummitThree{
                margin-top:30px !important;
               
                .SummitMeetThreeContentTimeline {
                    .HowitworksTimelineItem{
                        padding-bottom: 0 !important;
                    }
                }
                
            }
            .SummitMeetThreeHeader{
                display: none;
            }
            
            .SummitMeetThreeContent{
                padding-top: 20px;
                width: 95vw !important;
              
                .SummitTeyao{
                    .SummitTeyaoHeader{
                        .SummitTeyaoHeaderText{
                            font-size: 16px;
                        }
                        .SummitTeyaoHeaderText::before{
                            width: 20px;
                            height: 20px;
                        }
                    }
                    .SummitTeyaoContent{
                        .SummitTeyaoItem{
                            width: 100%;
                        }

                        .SummitTeyaoImg{
                            width: 10vw;
                            height: 10vw;
                        }
                        .SummitTeyaoName{
                            font-size: 14px;
                            width: 18%;
                        }

                        .SummitTeyaoDesc{
                            font-size: 14px;
                        }

                    }
                  
                }
                .HowitworksTimelineItem{
                    padding-bottom: 10vw !important;
                    
                }
                .HowitworksTimelineItemCons{
                    padding-left: 20px !important;
                    .HowitworksTimelineItemLine{
                        
                        .HowitworksTimelineItemLineTitle{
                            font-size: 18px;
                            
                        }
                        .HowitworksTimelineItemLineTitleBig{
                            font-size: 14px;
                            margin-bottom: 0;
                        }
                        .HowitworksTimelineItemLineSmall{
                            font-size: 13px;
                            padding-left: 0;
                            margin-bottom: 5px;
                        }
                        .HowitworksTimelineItemLineTime{
                            font-size: 12px;
                            padding: 4px 12px;
                            margin-top:5px;
                            
                        }
                    }
                    .HowitworksTimelineItemSmall{
                        margin-top: 45px !important;
                        flex-direction: column;
                        .HowitworksTimelineItemSmallItem{
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            margin-right: 0;
                            .HowitworksTimelineItemSITitle{
                                font-size: 17px;
                                padding: 0 15px;
                                line-height: 17px;
                            }
                            .HowitworksTimelineItemSITime{
                                padding: 5px 13px;
                                font-size: 13px;
                                margin-top: 0;
                            }
                            .HowitworksTimelineItemSITitle::before{
                                width: 8px;
                                height: 8px;
                            }
                            .HowitworksTimelineItemSITitle::after{
                               display: none;
                            }
                        }
                    }
                }
                
                .SummitMeetThreeContentTitle{
                    font-size: 24px !important;
                }
                
                .SummitMeetThreeTableContent{
                    .CardItem{
                        width: auto;
                    }
                    .SummitMeetThreeTableContentWrapper{
                        flex-wrap: wrap;
                        .SummitMeetThreeTableItem{
                            width: 30vw!important;
                            height: 120px!important;
                            font-size: 13px!important;
                            margin-bottom: 2px;
                            .SummitMeetThreeTableItemContent{
                                padding: 28px 1vw 1vw;
                            }
                            .SummitMeetThreeTableItemContenttitle{
                                font-size: 13px !important;
                                line-height: 15px !important;
                            }
                            .SummitContentBottom{
                                font-size: 13px !important;
                                line-height: 15px;
                            }
                                
                        }
                       }
                    
                    .SummitMeetThreeTableModal{
                        margin-left: 0 !important;
                        width: 100%;
                        .SummitMeetThreeTableModalWrapper{
                            font-size: 14px !important;
                            
                            .SummitMeetThreeTableModalHeaderIcon{
                                height: 7vw;
                            }
                            .SummitMeetThreeTableModalHeader{
                                padding: 2vw 2vw;
                                align-items: center;
                                .SummitMeetThreeTableModalHeaderText{
                                    font-size: 13px;
                                }
                            }
                        }

                        
                    }
                    .SummitMeetThreeTableContentTitle{
                        font-size: 16px!important;
                        margin-top: 20px;
                        flex-direction: column;
                    }
                    .SMTTableContentTitle::before{
                        width: 23px;
                        height: 23px;
                    }
                    
                    .SummitMeetThreeTableItem.greyback{
                        display: none;
                    }
                }

                .SummitTimeWrapper{
                    display: flex;
                    position: relative;
                    flex-direction: column;
                }
                .SummitDownNumber{
                    width: 75px;
                    height: 30px;
                    font-size: 12px;
                    line-height: 28px;
                }
                .SummitDownButton,
                .SummitVideoButton,
                .SummitModalButtonPPT{
                    width: 74px;
                    height: 30px;
                    font-size: 12px;
                    line-height: 28px;
                    padding-left: 3px;
                
                }
                .SummitDownButton::after,
                .SummitVideoButton::after,
                .SummitModalButtonPPT::after{
                    width: 14px;
                    height: 13px;
                    top: 8px;
                    right: 7px;
                }

              
            }
        }

    }
    
}

@media screen and (min-width: 100px)and (max-width:501px){
    .Summitmeeting{
        .SummitMeetTwo .SummitMeetTwoContent{
           
        }
        .SummitMeetThree{
            
            .SummitMeetThreeContent{
               
                
              
                
                .SummitMeetThreeTableContent{
                    .SummitMeetThreeTableContentWrapper{
                        .SummitMeetThreeTableItem{
                            
                            width: 45vw!important;
                            height: 140px!important;
                            // margin-left: 4vw;
                            margin-bottom: 2vw;
                            .SummitMeetThreeTableItemTime{
                                padding:3px;
                                line-height: 12px;
                            }
                            .SummitMeetThreeTableItemContenttitle{
                                font-size: 12px !important;
                            }
                            .SummitContentBottom{
                                bottom: 5px !important
                            }
                        }
                        
    
                    }
    
                    
                    .SummitMeetThreeTableModal .SummitMeetThreeTableModalWrapper{
                        font-size: 12px !important;
                        
                       
                    }
                   
                    
                  
                }
    
                
            }
        }
    }

}