.indexHomeOneBannerFour{
    position: relative;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 4px;
    font-family: PingFang-SC-Bold;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-image: url(./../../img/index/bannerk.jpg);
    line-height: 24px;
    .SummitMeetTextOne{
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 36px;
        letter-spacing: 0px;
        color: #66ffff;
        margin:15px 0 30px;
    }
    .SummitMeetTextTwo{
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 18px;
        
        color: #66ffff;
        letter-spacing: 0;
        
        margin-bottom: 58px;
    }
    .indexHomeFourBannerLogo{
        position: relative;
        background-image: url(./../../img/stats/summitlogo.png);
        width: 358px;
        height: 24px;
        background-size: cover;
        background-repeat: no-repeat;
        margin:70px auto 15px;
    }
    .indexHomeFourBannerTitle{
        
        font-weight: normal;
        font-stretch: normal;
        line-height: 50px;
        letter-spacing: 1px;
        color: #fff;
        margin-bottom: 20px;
        padding-top: 95px;
        font-size: 50px;
        .One{
            font-weight: bold;
            display: inline-block;
            position: relative;
            padding-right: 20px;
            margin-right: 20px;
        }

        .One::after{
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            background-color: #fff;
            left: 100%;
            top: 3px;
        }
        
       
    }
    .indexHomeFourBannerCompany{
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #80b6ff;
        display: flex;
        width: 82%;
        margin: 0 auto;
       
        .indexHomeFourBannerCompanyItem{
            border-right:2px solid #80b6ff;
            padding:0 20px;
        }
        .indexHomeFourBannerCompanyItem:last-child{
            border:none;
        }
    }
    .indexHomeFourBannerMainTile{
        width: 100%;
        margin: 25px 0 18px;
        background-color: rgba(255 ,255 ,255 , 0.05);
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        color: #ffffff;
        padding:14px 0;
       
        text-align: center;
        letter-spacing: 2px;
    }

    .indexHomeFourLabels{
        position: relative;
        color: #66ffff;
        font-size: 18px;
        display: flex;
        justify-content: space-evenly;
        .indexHomeFourLabelItem{
            padding: 8px;
            position: relative;
        }
        .indexHomeFourLabelItem::before{
            position: absolute;
            width: 100%;
            content:"";
            height: 100%;
            background-color: rgba(128 ,255 ,255 , 0.4);
            transform: skew(-13deg);
            left: 0;
            top: 0;
        }
    }
    .indexHomeFourText4{
        font-size: 18px;
        font-weight: normal;
        letter-spacing: 1px;
        color: #66ffff;
        position: relative;
        margin-top:18px;
        cursor: pointer;
    }
}

@media screen and (min-width: 700px)and (max-width: 1200px){
    .indexHomeOneBannerFour{
        .SummitMeetTextOne{
            font-size:16px
        }
        .SummitMeetTextTwo{
            margin-bottom: 25px;
        }
        .indexHomeFourBannerLogo{
            margin-top:5vw;
        }
        .indexHomeFourBannerTitle{
            font-size: 42px;
    margin-bottom: 15px;
           
        }
        
        
        
        .indexHomeFourBannerMainTile{
            font-size: 16px;
            height: auto;
            margin: 2% 0;
            padding:2% 0;
        }
    }
    .Summitmeeting{
        .SummitMeetTwo{
            height: 450px !important;
            .SummitMeetTwoContent{
                width: 95vw !important;
                background-size: 45%;
                .SummitMeetTwoContentRight {
                    .SummitMeetTwoContentRightOne{
                        font-size: 30px!important;
                        margin-bottom: 18px !important;
                    }
                    .SummitMeetTwoContentRightTwo{
                        font-size: 17px !important
                    }
                    .SummitMeetTwoContentTwocode{
                        .SummitMeetTwoContentTwocodePng{
                            width: 13vw !important;
                            height: 13vw !important;
                        }
                    }
    
                }
                
                .SummitMeetTwoContentMiddle{
                    font-size: 18px !important;
                }
                
            }
            
        }
        .SummitMeetThree{
            
            .SummitMeetThreeContent{
                width: 95vw !important;
               
                .HowitworksTimelineItemCons{
                    
                    .HowitworksTimelineItemLine{
                        .HowitworksTimelineItemLineTitle{
                            font-size: 30px;
                        }
                        .HowitworksTimelineItemLineTime{
                            font-size: 16px;
                            padding: 6px 20px;
                        }
                    }
                    .HowitworksTimelineItemSmall{
                        margin-top: 45px !important;
                        .HowitworksTimelineItemSmallItem{
                            margin-right: 30px;
                            .HowitworksTimelineItemSITitle{
                                font-size: 17px;
                                padding: 0 15px;
                            }
                            .HowitworksTimelineItemSITime{
                                padding: 5px 13px;
                                font-size: 13px;
                            }
                            .HowitworksTimelineItemSITitle::before{
                                width: 8px;
                                height: 8px;
                            }
                            .HowitworksTimelineItemSITitle::after{
                                left: -40px;
                                width: 30px;
                            }
                        }
                    }
                }
                
                

                .SummitMeetThreeContentTitle{
                    font-size: 32px !important;
                }
                
                .SummitMeetThreeTableContent{
                    .SummitMeetThreeTableContentTitle{
                        font-size: 18px!important;
                    }
                    .SummitMeetThreeTableItem{
                        width: 18vw!important;
                        // height: 18vw!important;
                        .SummitMeetThreeTableItemContent{
                            
                            
                            .SummitMeetThreeTableItemContenttitle{
                                font-size: 13px !important;
                                line-height: 16px !important;
                            }
    
                            .SummitMeetThreeTableItemContentcommunity,
                            .SummitMeetThreeTableItemContentName{
                                font-size: 14px !important;
                                line-height: 14px;
                                padding-top:8px !important;
                            }
                        }
                      
                    }
                }
            }
        }

    }
    
    
    
}

@media screen and (min-width: 100px)and (max-width: 701px){
    .indexHomeOneBannerFour{
        .SummitMeetTextOne{
            font-size:12px;
            margin-bottom: 10px;
            line-height: 16px;
        }
        .indexHomeFourBannerLogo{
            margin-top:5vw;
        }
        .indexHomeFourBannerTitle{
            
            margin:40px 0 20px;
            line-height: 20px;
            padding-top: 10px;
            font-size: 16px;
            .One{
                padding-right: 10px;
                margin-right: 10px;
            }
         
           
        }
        .indexHomeFourBannerCompany{
            flex-direction: column;
            font-size: 12px;
            width: 100%;
            .indexHomeFourBannerCompanyItem{
                border-right:none !important;
            }
            
        }
        .indexHomeFourBannerMainTile{
            font-size: 12px;
            height: auto;
           
            padding:1% 0;
        }
        .indexHomeFourLabels{
            font-size: 14px;
            flex-wrap: wrap;
            justify-content: center;
            margin-top:10px;
            .indexHomeFourLabelItem{
                padding: 2px;
                margin-bottom: 3px;
                margin-left: 4px;
            }
        }
        .SummitMeetTextTwo{
            margin-top:0;
            margin-bottom: 20px;
        }
    }

    .Summitmeeting{
        .SummitMeetTwo{
            height: 530px !important;
            padding-top: 20px !important;
            .SummitMeetTwoContent{
                width: 95vw !important;
                background-size: 44vw !important;
                background-position: 50% 65% !important;
                .SummitMeetTwoContentRight {
                    .SummitMeetTwoContentRightOne{
                        font-size: 18px !important;
                        text-align: center;
                        margin-bottom: 10px !important;
                    }
                    .SummitMeetTwoContentTwocode{
                        font-size: 14px !important;
                        text-align: center;
                        .SummitMeetTwoContentTwocodePng{
                            width: 15vw !important;
                            height: 15vw !important;
                        }
                    }
                    .SummitMeetTwoContentRightTwo{
                        font-size: 14px !important;
                        text-align: center;
                    }
    
                }
                
                .SummitMeetTwoContentMiddle{
                    font-size: 14px !important;
                }
                
            }
            
        }
        .SummitMeetThree{
            
            .SummitMeetThreeContent{
                width: 95vw !important;
                .HowitworksTimelineItem{
                    padding-bottom: 10vw !important
                }
                .HowitworksTimelineItemCons{
                    padding-left: 30px;
                    .HowitworksTimelineItemLine{
                        position: relative;
                        display: flex;
                        align-items: center;
                        .HowitworksTimelineItemLineTitle{
                            font-size: 20px;
                              width: 56%;
                        }
                        .HowitworksTimelineItemLineTime{
                            font-size: 12px;
                            padding: 4px 12px;
                            
                        }
                    }
                    .HowitworksTimelineItemSmall{
                        margin-top: 45px !important;
                        flex-direction: column;
                        .HowitworksTimelineItemSmallItem{
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            margin-right: 0;
                            .HowitworksTimelineItemSITitle{
                                font-size: 17px;
                                padding: 0 15px;
                                line-height: 17px;
                            }
                            .HowitworksTimelineItemSITime{
                                padding: 5px 13px;
                                font-size: 13px;
                                margin-top: 0;
                            }
                            .HowitworksTimelineItemSITitle::before{
                                width: 8px;
                                height: 8px;
                            }
                            .HowitworksTimelineItemSITitle::after{
                               display: none;
                            }
                        }
                    }
                }
                
                .SummitMeetThreeContentTitle{
                    font-size: 24px !important;
                }
                
                .SummitMeetThreeTableContent{
                    .SummitMeetThreeTableContentWrapper{
                        flex-wrap: wrap;
                        .SummitMeetThreeTableItem{
                            width: 30vw!important;
                            height: 120px!important;
                            font-size: 13px!important;
                            margin-bottom: 2px;
                            .SummitMeetThreeTableItemContent{
                                padding: 1vw;
                            }
                            .SummitMeetThreeTableItemContenttitle{
                                font-size: 13px !important;
                                line-height: 15px !important;
                            }
                            .SummitContentBottom{
                                font-size: 13px !important;
                                line-height: 15px;
                            }
                                
                        }
                       }
                    
                    .SummitMeetThreeTableModal{
                        margin-left: 0 !important;
                        .SummitMeetThreeTableModalWrapper{
                            font-size: 14px !important;
                            .SummitMeetThreeTableModalHeaderIcon{
                                width: 20vw;
                                height: 20vw;
                            }
                            .SummitMeetThreeTableModalHeader{
                                padding: 5vw 2vw;
                                .SummitMeetThreeTableModalHeaderText{
                                    font-size: 13px;
                                }
                            }
                        }

                        
                    }
                    .SummitMeetThreeTableContentTitle{
                        font-size: 16px!important;
                        margin-top: 20px;
                    }
                    
                    .SummitMeetThreeTableItem.greyback{
                        display: none;
                    }
                }

                .SummitMeetThreeTableOne.two{
                    .SummitMeetThreeTableItem{
                       
                        .SummitMeetThreeTableItemContent{
                            
                            
                            // .SummitMeetThreeTableItemContentImage{
                            //     width: 30%!important;
                            //     height: 30%!important;
                            //     margin:25px auto 10px !important;
                            // }
                        }
                    }
                }
            }
        }

    }
    
}

@media screen and (min-width: 100px)and (max-width:501px){
    .Summitmeeting{
        .SummitMeetTwo .SummitMeetTwoContent{
            .SummitMeetTwoContentTwocode.phonenone{
                display: none;
            }
            .SummitMeetTwoContentTwocode.phoneshow{
                display: block !important;
                .SummitMeetTwoContentButton{
                    color: white;
                    line-height: 40px;
                    height: 40px;
                    width: 150px;
                    font-size: 18px;
                    margin: 10px;
                    background: #5959ff;
                    border-style: solid;
                    border-width: 0.1px;
                    border-radius: 4px;
                    text-align: center;
                    font-weight: bolder;
                    display: inline-block;
                }
            }
        }
        .SummitMeetThree{
            
            .SummitMeetThreeContent{
               
                
              
                
                .SummitMeetThreeTableContent{
                    .SummitMeetThreeTableContentWrapper{
                        .SummitMeetThreeTableItem{
                            
                            width: 40vw!important;
                            height: 110px!important;
                            margin-left: 4vw;
                            margin-bottom: 2vw;
                            .SummitMeetThreeTableItemContenttitle{
                                font-size: 12px !important;
                            }
                            .SummitContentBottom{
                                bottom: 5px !important
                            }
                        }
                        
    
                    }
    
                    
                    .SummitMeetThreeTableModal .SummitMeetThreeTableModalWrapper{
                        font-size: 12px !important;
                       
                    }
                   
                    
                  
                }
    
                
            }
        }
    }

}