.indexHomeZ{
    position: relative;
    overflow: hidden;
    .indexHomeOne{
        position: relative;
        width: 100%;
        height: 522px;
        
        
       
        .indexHomeOneBanner{
            
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            width: 100%;
            height: 522px;
           display: inline-block;
        //    position: absolute;
         
            
           

        }
        .indexHomeOneBannerTwo{
            background-image: url(./../../img/index/banner2.jpg); 
            
            text-align: center;
          
            .indexHomeOneDakaTitle{
                width: 742px;
                height: 61px;
                background-image: url(./../../img/index/banner2title.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin:83px auto 27px;
            } 
            .indexHomeOneDakaCompany{
                font-family: PingFang-SC-Regular;
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                line-height: 20px;
                letter-spacing: 0px;
                color: #ffffff;
                margin-bottom: 39px;
            }  
            
           .indexHomeOneDakaDescription{
                font-family: PingFang-SC-Medium;
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                letter-spacing: 1px;
                color: #ffffff;
                padding:28px 0;
                width: 1200px;
                height: 120px;
                line-height: 36px;
                text-align: center;
                background-color: rgba(255, 255, 255, 0.1);
            }
            .indexHomeOneDakaButtonMore{
                width: 150px;
                height: 45px;
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 4px;
                border: solid 1px #ffffff;
                font-size: 20px;
                font-weight: normal;
                font-stretch: normal;
                line-height: 40px;
                letter-spacing: 0px;
                color: #ffffff;
                margin:50px auto 0;
                cursor: pointer;
            }
                 
        }
        .indexHomeOneBannerOne{
            background-image: url(./../../img/index/banner.jpg);
                 
        }

       
            


    }

  
   
    .indexHomeThird{
        position: relative;
        background-color: #fff;
        .indexHomeThirdWrapper{
            position: relative;
            padding: 28px 0 10px;

            .indexHomeThirdButton{
                position: relative;
                width: 100%;
                padding: 10px 0 160px;
                .indexHomeThirdButtonItem:nth-child(2)>.indexHomeThirdButtonItemImg{
                    border-right: 1px solid #c3c2cc;
                    border-left: 1px solid #c3c2cc;
                }
                .indexHomeThirdButtonItem{
                    position: relative;
                    display: inline-block;
                    width: 400px;
                    
                    .indexHomeThirdButtonItemImg{
                        position: relative;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 144px;
                        height: 144px;
                        margin-bottom:35px;
                        box-sizing: content-box;
                        padding: 0 31.8%;
                    }

                   
                    .indexHomeThirdButtonItemText{
                        position: relative;
                        font-size: 20px;
                        color:#fff;
                        width: 142px;
                        height: 45px;
                        background-color: #5866ff;
                        border-radius: 4px;
                        line-height: 45px;
                        text-align: center;
                        margin:0 auto;
                        transition: all 0.3s;
                        cursor: pointer;
                    }
                    .indexHomeThirdButtonItemText:hover{
                        background-color: #3e4ad2
                    }
                }
            }

            .indexHomeThirdTitle{
                position: relative;
                font-size: 24px;
                color: #333;
                line-height: 24px;
            }

            .indexHomeOrList{
                position: relative;
                margin-bottom: 50px;
                margin-top:30px;

            }
            .indexHomeOrList.holder{
                .indexHomOrItem{
                    width: 385px;
                }
            }

            
           
            .indexHomOrItem{
                width: 288px;
                height: 60px;
                margin-right: 30px;
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
                cursor: pointer;
            }
            .indexHomOrItem.cursordefault{
                cursor: default;
            }
            .indexHomeOrList.relateThree{
                margin-bottom: 30px;
                .indexHomOrItem{
                    width: 382px;
                    margin-right: 27px;
                }
                .indexHomOrItem.jisuan{
                    background-image: url(./../../img/logolist/logo1.jpg);
                }
                .indexHomOrItem.hanwuji{
                    background-image: url(./../../img/logolist/logo2.jpg);
                }
                .indexHomOrItem.tengxun{
                    margin-right: 0;
                    background-image: url(./../../img/logolist/logo3.jpg);
                }

            }
            .indexHomeOrListOpensource{
                position: relative;
                margin-bottom: 50px;
                margin-top:30px;
                width: 1216px;
                .indexHomOpensourceItem{
                    display: inline-block;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: bottom;
                    width: 288px;
                    height: 60px; 
                    margin-right: 16px;  
                    margin-bottom: 30px;
                    cursor: pointer;
                }
                // .indexHomOpensourceItem:nth-child(4n){
                //     margin-right: 0;
                // }
                
               
            }
           
            .indexHomOrItem.nanjing{
                cursor: default;
                width: 385px;
                background-image: url(./../../img/logolist/nanjing.jpg);
            }
           
        }
    }
    .indexHomeSecond{
        position: relative;
        width: 100%;
        height: 526px;
        background-color: #f5f5f5;

        .indexHomeSecondText{
            position: relative;
            width: 100%;
            text-align: center;
            padding-top: 90px;
            font-size: 18px;
            color: #333;
            line-height: 30px;
            padding-bottom: 60px;
        }
        .indexHomeOneTextConsChi{
            color:#333;
        }

        .indexHomeSecondTextCons{
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .indexHomeIconItem{
            position: relative;
            display: flex;
            align-items: center;
            font-size: 18px;
            color:#333;
            margin-bottom: 12px;
            flex-direction: column;
            width: 234px;
            text-align: center;
            .indexHomeIconItemIcon{
                width: 66px;
                height: 66px;
                margin-bottom: 20px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center
            }
            .indexHomeIconItemText{
                position: relative;
                line-height: 30px;
                width: 248px;
            }
            .icon1{
                background-image: url(./../../img/index/1.png);
            }
            .icon2{
                background-image: url(./../../img/index/2.png);
            }
            .icon3{
                background-image: url(./../../img/index/3.png);
            }
            .icon4{
                background-image: url(./../../img/index/4.png);
            }
         }

     
    }

    .indexHomeOneWrapper{
        display: flex;
        // padding-top: 110px;
        box-sizing: border-box;
        justify-content: space-between;
        padding-top: 80px;
    }


    .indexHomeOneTextCons{
        position: relative;
        color: #fff;
        font-size: 20px;
        // text-indent: 2em;
        width: 52%;
        // margin-top: -34px;
        .indexHomeOneTextConsEngOne{
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            line-height: 36px;
            letter-spacing: 1px;
            color: #66ffff;
            position: relative;
            line-height: 20px;
            
            position: relative;
            margin:30px 0 20px;
        }
        .indexHomeOneTextConsEngTwo{
            font-family: SFProDisplay-Semibold;
            font-size: 28px;
            font-weight: bold;
            font-stretch: normal;
            line-height: 28px;
            
            color: #ffffff;
            width: 640px;
            position: relative;
            margin-bottom: 24px;
        }
        .indexHomeOneTextConsEngTwo::after{
            content: "";
            width: 100%;
            position: absolute;
            height: 1px;
            background-color: #fff;
            bottom: -20px;
            left: 0;
        }
        
    }
 

    .indexHomeOneImage{
        position: relative;
        background-image: url(./../../img/index/banner1.png);
        background-size: contain;
        width: 363px;
        height: 350px;
        background-repeat: no-repeat;
    }

    // .indexHomeTwoImage{
    //     position: relative;
    //     background-image: url(./../../img/index/2.png);
    //     background-size: contain;
    //     width: 458px;
    //     height: 221px;
    //     background-repeat: no-repeat;
    // }
    .indexHomeOneTextConsChi{
        margin-top: 24px;
        display: inline-block;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 36px;
        letter-spacing: 2px;
        color: #ffffff;
       
        
    }
    .indexHomeOneTextConsChi.indexTwo{
        margin-top:45px;
    }

}