.indexHomeZ{
    position: relative;
    .indexHomeOne{
        position: relative;
        width: 100%;
        height: 522px;
        // background-color: #1465e3;
        background-image: url(./../../img/index/banner.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;


    }
    .indexHomeThird{
        position: relative;
        background-color: #fff;
        .indexHomeThirdWrapper{
            position: relative;
            padding: 28px 0 10px;

            .indexHomeThirdTitle{
                position: relative;
                font-size: 24px;
                text-align: center;
                // padding-bottom: 20px;
            }

            .indexHomeOrList{
                position: relative;
                margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: baseline;
            margin-top: 10px;
            }
            .indexHomeOrList.holder>.indexHomOrItem:nth-child(2){
                width: 200px;
                height: 34px;
            }

            .indexHomeOrList.holder>.indexHomOrItem:nth-child(1){
                width: 386px;
                height: 32px;
                margin-left: -120px;
                margin-right: 35px;
                
            }
            .indexHomOrItem{
                width: 290px;
                height: 33px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: bottom;
            }
            .indexHomOrItem{
                background-image: url(./../../img/or/nanjing.png);
            }
        }
    }
    .indexHomeSecond{
        position: relative;
        width: 100%;
        height: 526px;
        background-color: #f5f5f5;

        .indexHomeSecondText{
            position: relative;
            width: 100%;
            text-align: center;
            padding-top: 90px;
            font-size: 18px;
            color: #333;
            line-height: 30px;
            padding-bottom: 60px;
        }
        .indexHomeOneTextConsChi{
            color:#333;
        }

        .indexHomeSecondTextCons{
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .indexHomeIconItem{
            position: relative;
            display: flex;
            align-items: center;
            font-size: 18px;
            color:#333;
            margin-bottom: 12px;
            flex-direction: column;
            width: 234px;
            text-align: center;
            .indexHomeIconItemIcon{
                width: 66px;
                height: 66px;
                margin-bottom: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .indexHomeIconItemText{
                position: relative;
                line-height: 30px;
                width: 248px;
            }
            .icon1{
                background-image: url(./../../img/index/1.png);
            }
            .icon2{
                background-image: url(./../../img/index/2.png);
            }
            .icon3{
                background-image: url(./../../img/index/3.png);
            }
            .icon4{
                background-image: url(./../../img/index/4.png);
            }
         }

     
    }

    .indexHomeOneWrapper{
        display: flex;
        // padding-top: 110px;
        box-sizing: border-box;
        justify-content: space-between;
        padding-top: 80px;
    }


    .indexHomeOneTextCons{
        position: relative;
        color: #fff;
        font-size: 20px;
        // text-indent: 2em;
        width: 54%;
        // margin-top: -34px;
        
    }
 

    .indexHomeOneImage{
        position: relative;
        background-image: url(./../../img/index/banner1.png);
        background-size: contain;
        width: 363px;
        height: 350px;
        background-repeat: no-repeat;
    }

    // .indexHomeTwoImage{
    //     position: relative;
    //     background-image: url(./../../img/index/2.png);
    //     background-size: contain;
    //     width: 458px;
    //     height: 221px;
    //     background-repeat: no-repeat;
    // }
    .indexHomeOneTextConsChi{
        margin-top: 30px;
        display: inline-block;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 36px;
        letter-spacing: 1px;
        color: #ffffff;
       
        
    }
    .indexHomeOneTextConsChi.indexTwo{
        margin-top:45px;
    }

}