.Howitworks{
    position: relative;
    .HowitworksBanner{
        width: 100%;
        height: 526px;
        background-color: #1465e3;
        .HowitworksBannerContent{
           
        }

        .HowitworksBannerTitle{
            position: relative;
            color: #fff;
            font-size: 50px;
            letter-spacing: 20px;
            padding: 62px 0 80px;
            margin: 0 auto;
            width: 100%;
            text-align: center;
        }

        .HowitworksList{
            position: relative;
            display: flex;
            justify-content: space-evenly;
            .HowitworksListItem{
                position: relative;
                text-align: center;
                width: 236px;
                color:#fff
            }
            .HowitworksListItemImage{
                background-size: contain;
                width: 112px;
                height: 95px;
                
                margin: 0 auto;
                background-repeat: no-repeat;
            }
            .HowitworksListItemImage.apply{
                background-image: url(./../../img/fet/algorithm.png);
            }
            .HowitworksListItemImage.program{
                background-image: url(./../../img/fet/os.png);
            }
            .HowitworksListItemImage.reward{
                background-image: url(./../../img/fet/opensource.png);
            }

            .HowitworksListItemTitle{
                font-size: 20px;
                font-weight: 500;
                letter-spacing: .005em;
                margin: 22px 0 10px;
            }
            .HowitworksListItemContent{
                font-weight: 400;
                letter-spacing: .010em;
                line-height: 1.6em;
            }

        }
    }

    .HowitworksContent{
        position: relative;
        margin: 65px 0;
        .HowitworksContentWrapper{
            position: relative;
        }
        .HowitworksContentItem{
            position: relative;
            margin: 0 0 40px;
            .HowitworksContentTitle{
                font-size: 20px;
                margin-bottom: 5px;
                font-weight: 500;
                color: #666;
            }
            .HowitworksContentContent{
                font-size: 16px;
            }
        }
    }
}