@media screen and (min-width: 100px)and (max-width: 600px){
    body{
        width: 100vw;
        min-width: 100vw;
        .displayblock{
            display: block;
        }
        .osscHeaderMobileList{

            position: fixed;
            width: 100vw;
            height: 100vh;
            text-align: center;
            position: absolute;
            z-index: 10;
            top: 0;
            left: -5vw;
            background-color: #187ef2;
            padding: 30vh 0;
            .osscClose{
                position: absolute;
                width: 35px;
                height: 35px;
                background-image: url(./../../img/close.svg);
                background-size: contain;
                right: 5vw;
                top: 2vh;
            }
            // a{
            //     position: relative;
            //     text-decoration: none;
            //     // color: #549af5;
            //     color:rgba(0,0,0,.54);
            //     position: relative;
                
            // }
            .osscListItem{
                padding: 10px 0;

                font-size: 20px;
                position: relative;
                text-decoration: none;
                // color: #549af5;
                color:#fff;
                position: relative;
            }

        }
        .osscHeaderLogo{
            width: 72vw;
            height: 50px;
            margin-left: -2vw;
        }
        .ossHeaderMobileIcon{
            background-image: url(./../../img/icon_nav.png);
            width: 26px;
            height: 22px;
            display: inline-block;
            background-size: contain;
        }

        .content1200{
            width: 90vw;
        }

        .osscHeaderList{
            display: none;
        }

        .osscFooter{
            height: 132px;
            .ossscFooterWrapper{
                flex-direction: column;
                align-items: baseline;
                justify-content: space-evenly;
            }
        }
        .indexHomeZ{
            .indexHomeOne{
                height: auto;
                .indexHomeOneWrapper{
                    padding: 50px 0;
                    .indexHomeOneTextConsChi{
                        margin-top:0;
                        font-size: 20px;
                        margin-bottom: 30px;
                        letter-spacing: 1px;
                    }
                }
            }
           
            
            .indexHomeOneTextCons{
                width: 100%;
            }
            .indexHomeThird{
                .indexHomeThirdWrapper{
                    
                    .indexHomeOrList.holder{
                        flex-direction: column;
                        align-items: center;
                        .indexHomOrItem{
                            width: 100%;
                            
                        }
                    }
                    
                    .indexHomeOrList.holder {
                        .indexHomOrItem:nth-child(1){
                           margin-left: 0;
                           width: 80vw;
                           margin-bottom: 30px;
                        }
                        .indexHomOrItem:nth-child(2){
                            width: 50vw;
                            
                            
                        }
                    }
                }
            }
            .indexHomeSecond {
                height: auto;
                .indexHomeSecondTextCons{
                    flex-direction: column;
                }
                .indexHomeIconItem{
                    flex-direction: row;
                    width: 90vw;
                    height: 10vh;
                    .indexHomeIconItemIcon {
                        margin-right: 5vw;
                        width: 40px;
                        /* text-align: left; */
                        margin-bottom: 0;
                    }
                    .indexHomeIconItemText{
                        width: 70vw;
                    }
                   
                }
  
                .mobiledisplaynone{
                    display: none;
                }
                .indexHomeSecondText{
                    text-align: left;
                    padding: 50px 5vw;
                    background: #fff;
                    box-sizing: border-box;

                }
                .indexHomeSecondWrapper {
                    padding: 40px 0 10px;
                }
            }

        }
        

        .indexHomeOneImage{
            display: none;
        }

        //howitwork

        .Howitworks{
            .HowitworksTimeline{
                .HowitworksTimeTitle{
                    font-size: 24px;
                }
                .HowitworksTimelineItem .HowitworksTimelineItemTitle{
                    font-size: 18px;
                }
                .HowitworksTimelineItemText{
                    font-size: 16px;
                }

            } 
            .HowitworksBanner{
                .HowitworksBannerTitle{
                    font-size: 21px;
                    padding: 30px 0;
                    letter-spacing: 1px;
                }
                .HowitworksList{
                    flex-direction: column;
                    .HowitworksListItem {
                        width: 100%;
                        margin-bottom: 30px;
                    }
                    .HowitworksListItemImage{
                        position: absolute;
                        margin-top: 12px;
                    }
                    .HowitworksListItemTitle{
                        font-size: 20px;
                        margin:0;
                    }
                    .HowitworksListItemContent{
                        width: 60vw;
                        margin-left: 28vw;
                        text-align: left;
                    }
                }
            }
        }

        .contactUsBanner{
            display: none;
        }

        .contactUs .contactUsContent{
            flex-direction: column;
            padding: 30px 0;
            .weixindiscuss,
            .imageweixin{
                margin-top:0;
            }
            .contentUsListItem{
                font-size: 16px;
            }
            .contentUsTitle{
                font-size: 24px;
            }
            .contentUsContactList{
                font-size: 18px;
                .contentUsListItem.gray{
                    display: none;
                }
            }
            .contentUsContact{
                width: 100%;
                
            }

            .contactWeixinjpg.discuss{
                display: none;
            }
            .contactWeixinjpgMobile{
                display: block;
                width: 278px;
                height: auto;
                margin-top: 20px;
            }


        } 
    }
}
.contactWeixinjpgMobile,
.osscHeaderMobileList,
.ossHeaderMobileIcon{
    display: none;
}