@media screen and (min-width: 100px)and (max-width: 600px){
    body{
        width: 100vw;
        min-width: 100vw;
        .displayblock{
            display: block;
        }
        .mobiledisplaynone{
            display: none;
        }
        .osscHeaderMobileList{

            position: fixed;
            width: 100vw;
            height: 100vh;
            text-align: center;
            position: absolute;
            z-index: 10;
            top: 0;
            left: -5vw;
            background-color: #187ef2;
            padding: 30vh 0;
            .osscClose{
                position: absolute;
                width: 35px;
                height: 35px;
                background-image: url(./../../img/close.svg);
                background-size: contain;
                right: 5vw;
                top: 2vh;
            }
            // a{
            //     position: relative;
            //     text-decoration: none;
            //     // color: #549af5;
            //     color:rgba(0,0,0,.54);
            //     position: relative;
                
            // }
            .osscListItem{
                padding: 10px 0;

                font-size: 20px;
                position: relative;
                text-decoration: none;
                // color: #549af5;
                color:#fff;
                position: relative;
            }

        }
        .osscHeaderLogo{
            width: 72vw;
            height: 50px;
            margin-left: -2vw;
        }
        .ossHeaderMobileIcon{
            background-image: url(./../../img/icon_nav.png);
            width: 26px;
            height: 22px;
            display: inline-block;
            background-size: contain;
        }

        .content1200{
            width: 90vw;
        }

        .osscHeaderList{
            display: none;
        }

        .osscFooter{
            height: 132px;
            .ossscFooterWrapper{
                flex-direction: column;
                padding: 40px 0;
                box-sizing: border-box;
                // align-items: baseline;
                // justify-content: space-evenly;
                .osscFooterItem{
                    justify-content: center;
                    width: 100vw;
                    margin:0;
                    color:#fff;
                    .osscFooterItemText{
                        color:#fff;
                    }
                }
                .copyright{
                    font-size: 12px;
                    color:#ccc
                }
            }
        }
        .indexHomeZ{
            .indexHomeOne{
                height: auto;
                .indexHomeOneWrapper{
                    padding: 50px 0;
                    .indexHomeOneTextConsChi{
                        margin-top:0;
                        font-size: 20px;
                        margin-bottom: 30px;
                        letter-spacing: 1px;
                    }
                }
            }
           
            
            .indexHomeOneTextCons{
                width: 100%;
            }
            .indexHomeThird{
                .indexHomeThirdWrapper{
                    
                    .indexHomeOrList.holder{
                        flex-direction: column;
                        align-items: center;
                        .indexHomOrItem{
                            width: 100%;
                            
                        }
                    }
                    
                    .indexHomeOrList.holder {
                        .indexHomOrItem:nth-child(1){
                            margin-left: 0;
                            width: 85vw;
                            margin-bottom: 30px;
                            margin-right: 0;
                        }
                        .indexHomOrItem:nth-child(2){
                            width: 45vw;
                            
                            
                        }
                    }
                }
            }
            .indexHomeSecond {
                height: auto;
                .indexHomeSecondTextCons{
                    flex-direction: column;
                }
                .indexHomeIconItem{
                    flex-direction: row;
                    width: 90vw;
                    height: 10vh;
                    .indexHomeIconItemIcon {
                        margin-right: 5vw;
                        width: 40px;
                        /* text-align: left; */
                        margin-bottom: 0;
                    }
                    .indexHomeIconItemText{
                        width: 70vw;
                    }
                   
                }
  

                .indexHomeSecondText{
                    text-align: left;
                    padding: 50px 5vw;
                    background: #fff;
                    box-sizing: border-box;

                }
                .indexHomeSecondWrapper {
                    padding: 40px 0 10px;
                }
            }

        }
        

        .indexHomeOneImage{
            display: none;
        }

        //howitwork

        .Howitworks{
            .HowitworksContent{
                margin-bottom: 0;
            }
            .HowitworksTimeline{
                background-color: #f6faff;
                padding-top: 20px;
               
                .HowitworksBannerTitleMobile{
                    display: block;
                    text-align: center;
                    /* padding: 10px 0; */
                    padding-bottom: 20px;
                    font-size: 18px;
                    color: #666;
                    .HowitworkOne{
                        font-size: 26px;
                        /* text-align: center; */
                        color: #333;
                        margin-bottom: 6px;
                    }
                }
                .HowitworksTimelineItem .HowitworksTimelineItemTitle{
                    font-size: 18px;
                }
                .HowitworksTimelineItemText{
                    font-size: 16px;
                }

            } 
            .HowitworksContent{
                .HowitworksContentItem{
                    .HowitworksContentTitle{
                        font-weight: bold;
                    }
                    .HowitworksContentTitle::before{
                        position: absolute;
                        content: "";
                        width: 4px;
                        height: 100%;
                        background: #741bed;
                        left: -5vw;

                    }
                }
            }
            .HowitworksBanner{
                height: auto;
                .HowitworksBannerTitle{
                    font-size: 21px;
                    padding: 30px 0;
                    letter-spacing: 1px;
                }
                .HowitworksList{
                    flex-direction: column;
                    .HowitworksListItem {
                        width: 100%;
                        margin-bottom: 30px;
                    }
                    .HowitworksListItemImage{
                         position: absolute;
                        /* margin-top: 12px; */
                        width: 35px;
                        margin-top: -15px;
                        min-height: 30px;
                    }
                    .HowitworksListItemTitle{
                        font-size: 20px;
                        margin: 0;
                        position: absolute;
                        left: 14vw;
                        top: -5px;
                    }
                    .HowitworksListItemContent{
                        width: 80vw;
                        margin-left: 14vw;
                        text-align: left;
                        font-size: 14px;
                        margin-top: 22px;
                        line-height: 24px;
                    }
                }
            }
        }

        .contactUsBanner{
            display: none;
        }

        .contactUs .contactUsContent{
            flex-direction: column;
            padding: 30px 0;
           
            .contentUsListItemTitlelong{
                border-top: 1px solid  #dadee6;
                width: 91vw;
               
            }
            .contentUsTitle::before{
                position: absolute;
                content: "";
                width: 4px;
                height: 100%;
                background: #741bed;
                left: -5vw;
            }
            .contactWeixinjpg{
                width: 90vw;
                height: auto;
                padding-top: 6px;
            }


            .weixindiscuss,
            .imageweixin{
                margin-top:0;
            }
            .contentUsListItem{
                font-size: 16px;
                margin-top: 15px;
            }
            .contentUsTitle{
                font-size: 24px;
            }
            .contentUsContactList{
                font-size: 18px;
                .contentUsListItem.gray{
                    display: none;
                }
                .contentUsListItemTitle{
                    width: 64px;
                }
            }
            .contentUsContact{
                width: 100%;
                
            }

            .contentUsListItemTitlelongS::before{
                position: absolute;
                width: 100%;
                height: 1px;
                background-color:  #dadee6;
                content: "";
                top:-7px
               
            }
            .contactWeixinjpgMobile{
                display: block;
                width: 278px;
                height: auto;
                margin-top: 20px;
            }


        } 
    }
}

.HowitworksBannerTitleMobile,
.contactWeixinjpgMobile,
.osscHeaderMobileList,
.ossHeaderMobileIcon{
    display: none;
}