.organisation {
    .orgBanner {
        position: relative;
        width: 100%;
        height: 280px;
        // background-color: #1465e3;
        background-image: url(./../../img/organisation/banner.jpg);
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        background-color: #d8dff1;
        .orgBannerTitle {
            font-size: 36px;
            color: white;
            font-weight: bolder;
            height: 280px;
            padding-top: 86px;
        }
        .orgBannerTitle1 {
            line-height: 40px;
            margin-left: -20px;
            font-size: 20px;
            background-image: url(./../../img/organisation/banner2.png);
            background-repeat: no-repeat;
            background-position: left;
        }
    }
    .orgListTab {
        background: rgb(36,47,102);
        text-align: center;
        height: 80px;
        z-index: 2;
        .orgListTabItem {
            cursor: pointer;
            font-size: 24px;
            width: 181px;
            height: 72px;
            display: inline-block;
            color: white;
            text-align: center;
            font-weight: bold;
            line-height: 72px;
            margin-top: 4px;
        }
        .orgListTabItem:hover {
            background: rgba(60, 60, 250, 0.596);
        }
        .tabSelected {
            background: rgb(77,77,255);
        }
    }
    @media screen and (min-width: 100px)and (max-width: 700px){
        .orgListTab {
            .orgListTabItem {
                cursor: pointer;
                font-size: 18px;
                width: 140px;
            }
        }
    }
    
    #orgListNavBar {
        display: none;
        background: rgb(235,241,255);
        // width: 1200px;
        text-align: center;
        margin: 0 auto;
        height: 50px;
        line-height: 50px;
        .orgListNavBarItem {
            font-size: 20px;
            float: left;
        }
        .orgClick {
            cursor: pointer;
            display: inline-block;
            color: rgb(77,77,255);
        }
        .orgGrey {
            margin-left: 10px;
            color: rgb(102,102,102);
            display: inline-block;
        }
    }
    .orgListWrapper {
        background-color: #d8dff1;
        padding-bottom: 27px;
        min-height: calc(100vh - 437px);
        .orgList {
            position: relative;
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(auto-fill, 382px);
            .orgListItem {
                position: relative;
                text-align: left;
                width: 382px;
                height: 332px;
                margin: 27px auto 0 auto;
                background-color: white;
                cursor: pointer;
            }
            .orgListItem:hover, .triangle:hover {
                box-shadow:0 9px 11px -5px rgba(0, 0, 0, .2), 0 18px 28px 2px rgba(0, 0, 0, .14), 0 7px 34px 6px rgba(0, 0, 0, .12);
            }

            .orgListItemImage {
                background-size: contain;
                width: 382px;
                height: 228px;
                background-position: center;
                margin: 0 auto;
                background-repeat: no-repeat;
            }
            .orgListItemTitle, .orgListItemDes {
                color: #535667;
                font-size: 24px;
                letter-spacing: .005em;
                padding: 0 30px 20px 30px;
            }
            #orgListItemTitle-1 {
                margin-top: -10%;
                letter-spacing: .00005em;
                overflow: hidden;
                height: 3em;
                margin-bottom: 6%;
                text-overflow: ellipsis;
                display:-webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
            .orgListItemDes {
                color:rgb(102,106,128);
                font-size: 18px;
                text-overflow: ellipsis;
                white-space:nowrap;
                overflow:hidden;
                padding: 0 30px 28px 30px;
            }
            .org-tooltip {
                position: relative;
                background-color: white;
                width: 1200px;
                height: 100%;
                border-radius: 0.25em;
                justify-content: left;
                flex-direction: column;
                margin-top: 20px;
                padding: 20px 30px;
                text-align: left;
                .triangle {
                    display: block;
                    height: 0px;
                    width: 0px;
                    border: 10px solid transparent;
                    border-bottom-color: white;
                    background-color: transparent;
                    position: absolute;
                    bottom: 100%;
                    left: 171px;
                }
                .tooltip-close {
                    position: absolute;
                    right: 20px;
                    top: 5px;
                    height: 20px;
                    width: 20px;
                    cursor: pointer;
                    font-size: 30px;
                    color: rgb(102,106,128);
                }
                .tooltip-close::before {
                    content: "\00D7";
                }
                .tooltip-title {
                    font-size: 30px;
                    color: rgb(83,86,103);
                    text-align: left;
                }
                .tooltip-description {
                    font-size: 16px;
                    color: rgb(102,106,128);
                    line-height: 31px;
                    text-align: left;
                    margin-top: 20px;
                }
                .tooltip-divider {
                    background: rgb(229,229,229);
                    height: 2px; 
                    width: 1200px;
                    margin-top: 10px;
                    padding: 0;
                    margin-left: -30px;
                }
                .tooltip-list-title, .tooltip-url {
                    margin-top: 10px;
                    color: rgb(102,106,128);
                    a {
                        color: rgb(143,0,243);
                    }
                    line-height: 31px;
                    font-size: 16px;
                    margin-left: 10px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 80%;
                }
                .tooltip-list-title::before, .tooltip-url::before{
                    position: absolute;
                    content: "";
                    width: 4px;
                    height: 16px;
                    margin-top: 8px;
                    background: rgb(170,128,255);
                    left: 32px;
                    line-height: 31px;
                }
                .tooltip-url-tag-divider {
                    height: 20px;
                    width: 100%;
                }
                .tooltip-tag {
                    margin: 0 10px 10px -14px;
                }
                .orgTagListItem {
                    display: inline-block;
                    letter-spacing: 1px;
                    padding: 10px 15px;
                    margin: 8px -4px 8px 15px;
                    border-radius: 4px;
                    line-height: 31px;
                    font-size: 16px;
                }
                .domain {
                    background-color: rgb(216,222,255);
                    color: rgb(52,86,255);
                }
                .tech {
                    background-color: rgb(216,235,255);
                    color: rgb(25,139,255);
                }

                .tooltip-detail {
                    display: none;
                }
                display: none;
            }
            .tooltip-detail-button {
                display: inline-block;
                color: white;
                line-height: 40px;
                height: 40px;
                width: 150px; 
                font-size: 18px;
                margin: 5px 0;
                background: #5959ff;
                border-style: solid;
                border-width: 0.1px;
                border-radius: 4px;
                text-align: center;
                font-weight: bolder;
                img {
                    margin-left: 12px;
                }
            }
            .tooltip-detail-button:hover {
                background-color: #4c4cd9;
                cursor: pointer;
                box-shadow: none;
            }
            .org-detail {
                margin-top: 0;
                z-index: 1;
                .org-search-bar-wrapper {
                    width: 1200px;
                    margin-top: 20px;
                    font-size: 20px;
                    .org-search-bar {
                        display: inline-block;
                    }
                    .org-arrow {
                        width: 4px;
                        height: 22px;
                        line-height: 60px;
                        margin: auto 5px;
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: bottom;
                        padding-top: 3px;
                    }
                    .orgClick {
                        color: #5959ff;
                    }
                    #org-default::after {
                        content: '';
                        position: relative;
                        border-left: 1px solid #b0b2b9;
                        right: -10px; /* adjust this */
                        height: 40px; /* adjust this */
                    }
                    .up-1 {
                        background-image: url(./../../img/organisation/up-1.png);
                    }
                    .down-1 {
                        background-image: url(./../../img/organisation/down-1.png);
                    }
                    .up-0 {
                        background-image: url(./../../img/organisation/up-0.png);
                    }
                    .down-0 {
                        background-image: url(./../../img/organisation/down-0.png);
                    }
                    .org-search-bar-sort-wrapper, .org-pageNo {
                        float: right;
                    }
                    .org-No {
                        margin: 20px 0;
                        color: #666666;
                    }
                    .org-search-bar-sort {
                        cursor: pointer;
                        margin: auto 0 auto 20px;
                        line-height: 60px;
                        display: inline-block;
                    }
                }
                .ant-input-search {
                    input {
                        font-size: 20px;
                    }
                    width: 500px;
                    height: 60px;
                }
                .triangle, .tooltip-close, .tooltip-detail-button {
                    display: none;
                }
                .tooltip-detail {
                    display: block;
                }
                .tooltip-project-wrapper {
                    padding: 0;
                    margin-left: -30px;
                }
                .orgProjectItem {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    height: 300px;
                    margin-bottom: 40px;
                    color: white;
                }
                .orgProjectItemColumn {
                    li {
                        list-style: circle;
                        color: rgb(81,72,179);
                        font-size: 16px;
                        line-height: 25px;
                        margin-left: -20px;
                        a {
                            color: rgb(81,72,179)
                        }
                    }
                }
                .org-0 {
                    background: rgb(61,69,153);
                }
                .org-1 {
                    background: rgb(77,61,153);
                }
                .org-2 {
                    background: rgb(49,94,139);
                }
                .orgLeft {
                    grid-column: 1;
                    width: 500px;
                    height: 300px;
                    padding: 30px 0;
                    .orgProjectTitleIcon {
                        width: 75px;
                        height: 75px;
                        position: absolute;
                        right: 750px;
                        margin-top: -140px;
                    }
                }
                .orgRight {
                    grid-column: 2;
                    margin: 19px 0;
                    padding: 30px;
                    width: 700px;
                    height: 262px;
                    background: #ebf1ff;
                }
                .orgProjectTitle {
                    padding: 0 28px;
                    width: 330px;
                    font-size: 24px;
                    background-position: top right;
                    background-repeat: no-repeat;
                    background-size: 75px 75px;
                    min-height: 75px;
                    height: 110px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display:-webkit-box;
                    -webkit-box-orient:vertical;
                    -webkit-line-clamp:3;
                }
                .orgProjectGap {
                    height: 60px;
                    width: 1px;
                }
                .orgProjectBottomLeft {
                    padding: 30px;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 30px;
                }
                .orgProjectName {
                    color: rgb(174,201,255);
                    font-size: 20px;
                }
                .orgProjectDes {
                    line-height: 25px;
                    height: 125px;
                    color: rgb(102,102,102);
                    font-size: 16px;
                    text-overflow: ellipsis;
                    overflow: auto;
                    margin-bottom: 30px;
                }
                .orgProjectButton {
                    position: absolute;
                    margin-top: -50px;
                    right: 60px;
                    display: inline-block;
                }
            }
            @media screen and (min-width: 100px)and (max-width: 700px){
                .org-tooltip {
                    height: 100%;
                    padding: 20px;
                    margin: 20px auto;
                    font-size: 14px;
                    width: 90vw;
                    box-sizing: border-box;
                    .tooltip-divider {
                        width: 90vw;
                        margin-left: -20px;
                    }
                    .tooltip-title {
                        font-size: 24px;
                    }
                    .orgTagListItem { 
                        display: inline-block;
                        margin: 5px 5px;
                    }
                    .tooltip-close{
                        right: 10px;
                        top: -4px;
                    }
                    .tooltip-list-title::before, .tooltip-url::before{
                        position: absolute;
                        content: "";
                        width: 4px;
                        height: 16px;
                        margin-top: 8px;
                        background: rgb(170,128,255);
                        left: 20px;
                        line-height: 31px;
                    }
                }

            }
        }
        
        @media screen and (min-width: 100px)and (max-width: 700px){
            .orgList .org-detail .org-search-bar-wrapper {
                height: 100%;
                .org-search-bar-sort-wrapper {
                    display: block;
                    float: unset;
                    .org-search-bar-sort {
                        margin-left: 0;
                        margin-right: 20px;
                    }
                }
                .org-pageNo {
                    float: unset;
                    margin-left: 20px;
                }
                #org-default::after {
                    border: none;
                }
            }
            .orgList {
                grid-template-columns: repeat(auto-fill, 90vw);
                margin: 0 auto;
                .org-detail {
                    .ant-input-search {
                        width: 90vw;
                    }
                    .tooltip-project-wrapper {
                        margin: 0 auto;
                    }
                    
                    .orgProjectItem {
                        display: block;
                        grid-template-columns: none;
                        height: 100%;
                        margin: 0 auto;
                    }
                    .orgRight {
                        grid-column: none;
                        width: 100%;
                        margin-top: 0;
                        height: 100%;
                        overflow-wrap: break-word;
                    }
                    .orgLeft {
                        grid-column: none;
                        width: 100%;
                        height: 100%;
                    }
                    .orgProjectDes {
                        height: 100%;
                    }
                    .orgProjectTitle {
                        width: 100%;
                    }
                    .orgProjectTitleIcon {
                        display: none;
                    }
                    .orgProjectButton {
                        right: 5px;
                        position: relative;
                        margin-top: 5px;
                    }
                }
                
            }
            
            
        }
    }
    .indexOrgThirdTitle{
        position: relative;
        font-size: 24px;
        color: #333;
        line-height: 24px;
        padding-top: 57px;
    }
    .orgListOpensource{
        position: relative;
        // margin-bottom: 50px;
        // margin-top:30px;
        margin: 30px auto 50px auto;
        .orgOpensourceItem{
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            width: 288px;
            height: 60px; 
            margin-right: 16px;  
            margin-bottom: 30px;
            cursor: pointer;
        }
        .orgOpensourceItem:nth-child(4n){
            margin-right: 0;
        }
        @media screen and (min-width: 100px)and (max-width: 700px) {
            .orgListOpensource {
                margin-top:15px;
            }
            
            .orgOpensourceItem {
                margin-bottom:10px;
                width: 100%;        
            }
        }
       
       
    }
    #orgProjectWrapper {
        padding-bottom: 27px;
        display: none;
        background-color: #d8dff1;
    }


}
