.organisation {
    .orgBanner {
        position: relative;
        width: 100%;
        height: 280px;
        // background-color: #1465e3;
        background-image: url(./../../img/organisation/banner.jpg);
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        background-color: #d8dff1;
        .orgBannerTitle {
            font-size: 36px;
            color: white;
            font-weight: bolder;
            padding-top: 120px;
        }
    }
    .orgListWrapper {
        background-color: #d8dff1;
        padding-bottom: 27px;
        min-height: calc(100vh - 437px);
        .orgList {
            position: relative;
            // display: flex;
            // justify-content: space-between;
            // flex-wrap: wrap;
            display: grid;
            justify-content: space-between;
            grid-template-columns: repeat(auto-fill, 382px);
            // grid-gap: 0px;
            .orgListItem {
                position: relative;
                text-align: center;
                width: 382px;
                margin: 27px auto 0 auto;
                background-color: white;
                cursor: pointer;
            }
            .orgListItem:hover {
                box-shadow:0 9px 11px -5px rgba(0, 0, 0, .2), 0 18px 28px 2px rgba(0, 0, 0, .14), 0 7px 34px 6px rgba(0, 0, 0, .12);
            }

            .orgListItemImage {
                background-size: contain;
                width: 382px;
                height: 228px;
                background-position: center;
                margin: 0 auto;
                background-repeat: no-repeat;
            }
            .orgListItemTitle, .orgListItemDes {
                color: #535667;
                font-size: 24px;
                letter-spacing: .005em;
                padding-bottom: 30px;
            }
            .orgListItemDes {
                color:rgb(102,106,128);
                font-size: 18px;
                text-overflow: ellipsis;
                white-space:nowrap;
                overflow:hidden;
            }
        }
        @media screen and (min-width: 100px)and (max-width: 700px){
            .orgList {
                grid-template-columns: repeat(auto-fill, 90vw);
                margin:0 auto;
            }
        }
    }
    .indexOrgThirdTitle{
        position: relative;
        font-size: 24px;
        color: #333;
        line-height: 24px;
        padding-top: 57px;
    }
    .orgListOpensource{
        position: relative;
        // margin-bottom: 50px;
        // margin-top:30px;
        margin: 30px auto 50px auto;
        .orgOpensourceItem{
            display: inline-block;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            width: 288px;
            height: 60px; 
            margin-right: 16px;  
            margin-bottom: 30px;
            cursor: pointer;
        }
        .orgOpensourceItem:nth-child(4n){
            margin-right: 0;
        }
        @media screen and (min-width: 100px)and (max-width: 700px) {
            .orgListOpensource {
                margin-top:15px;
            }
            
            .orgOpensourceItem {
                margin-bottom:10px;
                width: 100%;        
            }
        }
       
       
    }


}
